/**
 * @name Minecraft Discord Theme
 * @author HeroOfDungeon
 * @version 1.4 (Beta)
 * @description Make your Discord more like Minecraft
 * @source https://github.com/HeroOfDungeon/mc-font-to-dc
 * @website https://github.com/HeroOfDungeon/mc-font-to-dc
 * @invite
*/

/*
Some nice fonts:
Old English Text MT
Blackadder ITC
Bradley Hand ITC
Copperplate Gothic
Edwardian Script ITC
Parchment
Webdings
Wingdings
Wingdings 2
Wingdings 3
*/

/* Load the fonts */
@font-face {
    font-family: "Minecraft";
    src: url('https://raw.githubusercontent.com/HeroOfDungeon/mc-font-to-dc/main/MinecraftRegular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Minecraft";
    src: url('https://raw.githubusercontent.com/HeroOfDungeon/mc-font-to-dc/main/MinecraftItalic.otf') format('opentype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Minecraft";
    src: url('https://raw.githubusercontent.com/HeroOfDungeon/mc-font-to-dc/main/MinecraftBold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Minecraft";
    src: url('https://raw.githubusercontent.com/HeroOfDungeon/mc-font-to-dc/main/MinecraftBoldItalic.otf') format('opentype');
    font-style: italic;
    font-weight: bold;
}

:root {
	/* Variable Changes */
	--font-primary: var(--font);
	--font-code: var(--font);
	--font-clan-signature: var(--font);
	--font-display: var(--font);
	--font-display-marketing: var(--font);
	--font-headline: var(--font);
}

/* Remove all edges cuz minecraft don't have round things */
*,
*::before,
*::after,
.folderPreview__48112 > div {
    border-radius: 0 !important;
}

.svg_cc5dd2 > mask {
    display: none !important;
}

section.presets__67a11 > div:nth-child(9) {
    display: none;
}

.svg_cc5dd2 > foreignObject, .mask__44b0c > foreignObject {
    mask: none !important;
}

.avatar_c19a55, .avatarStack__44b0c > img,
.avatar__07f91, .vc-mentionAvatars-icon,
.iconActiveMedium_f34534, .iconInactive_f34534,
.replyAvatar_c19a55, .icon_bd6d20, .largeImage__00943,
.headerIcon__00943, .contentImage__42bf5,
.avatar__183c2 {
    transition: border-radius 0.1s ease-out !important;
    border-radius: 50% !important;
}

.avatar_c19a55:hover,
.avatar__0a06e:hover > svg > foreignObject > .avatarStack__44b0c > img,
.wrapper__44b0c:hover > svg > foreignObject > .avatarStack__44b0c > img,
.avatar__07f91:hover, .vc-mentionAvatars-icon:hover,
.iconActiveMedium_f34534:hover, .iconInactive_f34534:hover,
.replyAvatar_c19a55:hover, .icon_bd6d20:hover,
.largeImage__00943:hover, .headerIcon__00943:hover,
.contentImage__42bf5:hover, .avatar__183c2:hover {
    border-radius: 0 !important;
}

/* Sticky DM Button */
.topSection_ef3116 {
    position: sticky;
}

/* Block Nitro-Related things if --block_nitro is set to "none" */
.conta.button__24af7 .iner__8279f, .item_b3f026:nth-child(22),
.item_b3f026:nth-child(23), .item_b3f026:nth-child(26),
.container_c50183, .item_b3f026:nth-child(46),
.upsellContainer__0b69f, [aria-label="Send a gift"],
.backdrop__78332, #guild-header-popout-premium-subscribe,
.separator_c1e9c4:nth-child(2), .premiumFeatureBorder__65c15,
.upsellOverlayContainer__0f7dc, .container__8279f,
/*.premiumIcon__5d473, /* Booster Icon */
a[href="https://discord.com/settings/premium"] {
    display: var(--block_nitro);
}

.container__8061a {
    padding: 0 0px;
}

.contentRegionScroller__23e6b, .sidebarRegionScroller__23e6b {
    background-color: 0 0 0 0;
}

.wrapper_cc5dd2 > svg > mask > use[href*="lower"] {
    display: none;
}

[class^="listItem_"] [data-dnd-name*=""] [class^="wrapper_"] {
    > [class^="lowerBadge_"] {
        display: none!important;
    }
    > svg > mask > use[href*="lower"] {
        display: none;
    }
}

/* Some cool button/box shadows */
.numberBadge__2b1f5 { /* Notification Counter */
    box-shadow: 2px 2px color-mix(in srgb, var(--status-danger), black var(--darker_shadow));
}

.addFriend__133bf {
    box-shadow: 2px 2px color-mix(in srgb, var(--status-positive-background), black var(--darker_shadow));
}

.colorBrand__201d5 {
    box-shadow: 2px 2px color-mix(in srgb, var(--button-filled-brand-background), black var(--darker_shadow));
}

.colorBrand__201d5:hover {
    box-shadow: 2px 2px color-mix(in srgb, var(--button-filled-brand-background-hover), black var(--darker_shadow));
}

.colorPrimary__201d5 {
    box-shadow: 2px 2px color-mix(in srgb, var(--button-secondary-background), black var(--darker_shadow));
}

.itemCard__7e549 {
    box-shadow:4px 4px color-mix(in srgb, var(--activity-card-background), black var(--darker_shadow));
}

.reactionBtn__23977.forceShow__23977, .reaction__23977 { /* Reactions */
    box-shadow:4px 4px color-mix(in srgb, var(--background-secondary), black var(--darker_shadow));
}

.reaction__23977.reactionMe__23977 {
    box-shadow:4px 4px color-mix(in srgb, var(--brand-15a), black var(--darker_shadow));
}

.button__7d7f7 {
    box-shadow:4px 4px color-mix(in srgb, var(--bg-mod-faint), black var(--darker_shadow));
}

div.numberBadge__2b1f5:nth-child(2), .numberBadge__2ea32 {
    box-shadow: 2px 2px color-mix(in srgb, var(--background-accent), black var(--darker_shadow));
}

/*.custom-profile-theme {
    box-shadow: 2px 2px color-mix(in srgb, (color-mix(in srgb,var(--profile-gradient-button-color) 80%,transparent)), black var(--darker_shadow));
}*/

/* Remove box shadow of some buttons who don't need a shadow */
.attachButton__0923f, .lookBlank__201d5, .lookBlank__201d5:hover, .lookLink__201d5 {
    box-shadow: none;
}

/* Custom channel icons */
.link__2ea32[aria-label*="(text channel)"] > div > .iconContainer__2ea32[aria-label="Text (Limited) icon"] {
    background: url("https://github.com/HeroOfDungeon/minecraft-discord-theme/blob/main/icons/channel_limited.png?raw=true") center/contain no-repeat;
}

.link__2ea32[aria-label*="(text channel)"] > div > .iconContainer__2ea32[aria-label="Text icon"] {
    background: url("https://github.com/HeroOfDungeon/minecraft-discord-theme/blob/main/icons/channel.png?raw=true") center/contain no-repeat;
}

.link__2ea32[aria-label*="(text channel)"] > div > .iconContainer__2ea32[aria-label="Rules icon"] {
    background: url("https://github.com/HeroOfDungeon/minecraft-discord-theme/blob/main/icons/rules.png?raw=true") center/contain no-repeat;
}

.link__2ea32[aria-label*="(text channel)"] > div > .iconContainer__2ea32[aria-label="Forum (Limited) icon"] {
    background: url("https://github.com/HeroOfDungeon/minecraft-discord-theme/blob/main/icons/forum_limited.png?raw=true") center/contain no-repeat;
}

.link__2ea32[aria-label*="(text channel)"] > div > .iconContainer__2ea32[aria-label="Forum icon"] {
    background: url("https://github.com/HeroOfDungeon/minecraft-discord-theme/blob/main/icons/forum.png?raw=true") center/contain no-repeat;
}

.link__2ea32 > div > .iconContainer__2ea32[aria-label*="(Locked)"] {
    background: url("https://github.com/HeroOfDungeon/minecraft-discord-theme/blob/main/icons/locked.png?raw=true") center/contain no-repeat;
}

.link__2ea32[aria-label*="(text channel)"] > div > div > svg path,
.link__2ea32 > div > div[aria-label*="(Locked)"] > svg path {
    display: none;
}

/* Snippets i stole and like */

/* Better message timespamps */
span[class*="timestampInline_"] time::before {
    content: attr(aria-label);
    font-size: 12px;
}
  
span[class*="timestampInline_"] {
    font-size: 0px !important;
}

.visual-refresh {
    --custom-channel-textarea-text-area-height: 56px;
    .form_f75fb0 {
        margin: 0 8px 8px 8px;
        padding: 0;
        --chatbar-border-color: var(--border-faint);
    }
    .channelTextArea_f75fb0 {
        margin: 0;
        border-color: var(--chatbar-border-color);
        transition: none;
    }
    .base_b88801 {
        top: -24px;
        left: 0;
        right: 0;
        background-color: var(--chat-background-default);
        padding: 0 8px;
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
        border: 1px solid var(--chatbar-border-color);
        border-bottom: none;
        transition: none;
        box-sizing: border-box;
    }
    .stackedBars__74017,
    .threadSuggestionBar__841c8 {
        border-color: var(--chatbar-border-color) !important;
    }
    .form_f75fb0:has(.base_b88801) {
        .channelTextArea_f75fb0 {
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        }
    }
    .form_f75fb0:has(.channelTextArea__74017:focus-within) {
        --chatbar-border-color: var(--border-subtle);
    }
    .scrollerSpacer__36d07 {
        height: calc(24px + 8px);
    }
    .scroller__36d07::-webkit-scrollbar-track {
        margin-bottom: calc(20px + 8px);
    }
    .bottomBar__0f481 {
        margin-bottom: 24px;
    }
    .wrapper__44df5 {
        margin: 0;
        border-radius: var(--radius-sm);
    }
}
/*
[id^=message-accessories] + [class^=buttonContainer] > [class^=buttons] {
    top: -27px !important;
}*/

#message-add-reaction, .wrapper_f563df, #message > div > div:nth-child(3) {
    display: none;
}

.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border: none;
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
}

#popout_48 {
    width: 400px !important;
}
